/* Overall Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif; /* For body text */
    line-height: 1.8;
    background-color: #f4f4f4; 
    color: #333;
    overflow-x: hidden;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0;
}


/* Landing Home Page */
.container {
    margin: 0 auto;    
}

.landing_main{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../image/main_land.jpg'); /* https://www.swinburne.edu.my/study/campus-life-study/facilities-and-services.php */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 250px;
}

.landing_profile{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url('../image/test1.jpg'); /* https://cdna.artstation.com/p/assets/images/images/020/340/240/large/balazs-agoston-han-dynasty-master-gate-opb.jpg?1567415686*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 350px;
}


.landing_header {
    padding: 7px 20px; 
    color: white;
    margin-bottom: 200px;
    background-color: #121212;
}

.landing_header h1 {
    font-size: 3.3rem;
    padding-right: 135px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.landing_header img{
    max-height: 80px; 
}


.landing_main_container{
    background-color: rgba(255, 255, 255, 0.93); 
    border-radius: 8px;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.unique_nav {
    color: white;
    font-size: 24pt;
    opacity: 1;
}

.landing_main_container h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    padding-bottom: 50px;
    text-align: center;
}

.landing_main_container p {
    font-size: 18pt;
    color: #666;
    text-align: justify;
    padding: 2px 10px;
}

.main_menu_link{
    color: #666;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: color 0.3s ease-in-out;
    text-align: center;
    font-size: 15pt;
    font-style: italic;
    padding-top: 25px;
}

.register_link{
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    text-align: center;
    font-style: italic;
    color: #666;
    text-decoration: none;
    display: inline-block;
    margin: 20px 0;
}


.main_menu_link:hover .register_link:hover{
    color: black;
    text-decoration: underline;
}

.indeximage { 
    display: block;
    width: 100%;
    filter: brightness(0.9); 
    transition: filter 0.3s;
    padding: 0;
}

.indeximage.active {
    display: block;
    opacity: 1;
}


.indeximage:hover {
    filter: brightness(1);
}


.home_button_container, .registration_button_container {
    display: flex;
    margin-top: 100px;
    justify-content: center; 
    gap: 15px; 
}

.registration_button_container .btn{
    padding: 15px 24px;
    font-size: 16px;
    border-radius: 80px; 
    transition: background-color 0.2s, color 0.2s;
    width: 50%;
}

.home_button_container .btn {
    padding: 15px 24px;
    font-size: 20px;
    border-radius: 50px; 
    transition: background-color 0.2s, color 0.2s;
}


.home_button_container .btn-primary, .registration_button_container .btn-primary, .login_container button {
    background-color: rgb(45, 44, 44); /* Dark Red (Burgundy) */
}

.home_button_container .btn-primary:hover, .registration_button_container .btn-primary:hover, .login_container button:hover{
    background-color: #5e5e5e; /* Very Dark Red (Oxblood) */
}


/* Registration */
.registration_container {
    max-width: 600px; 
    background-color: rgba(255, 255, 255, 0.95); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
}
.registration_container h2 {
    text-align: center; 
    margin-bottom: 30px; 
}
.form-group {
    margin-bottom: 15px; 
}
.form-control {
    border-radius: 5px; 
}

.error_message{
    color: red;
    text-align: center;
}

/* Login Page */

.login_container {
    width: 100%;
    height: 750px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    overflow: hidden; 
    background-color: rgba(255, 255, 255, 0.95); 
}

.login_container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}

.login_container h2 {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
}

.login_container button {
    width: 100%;
    margin-top: 70px;
}


/* Main Header Section */
.main_header, .admin_main_header, .lec_main_header, .stu_main_header{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 0 20px;
    margin: 0; 
    background-color: #121212; 
}

.main_header img, .main_header img, .admin_main_header img, .lec_main_header img, .stu_main_header img{
    max-height: 80px; 
    display: block; 
    margin: 0; 
    padding: 0; 
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
    padding: 0; 
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 24px; 
    position: relative; 
    transition: color 0.3s; 
    opacity: 0.95;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    height: 2px; 
    background: white; 
    transform: scaleX(0); 
    transition: transform 0.3s; 
    opacity: 1;
}

nav ul li a:hover{
    color: red ;
    text-decoration: none;
    opacity: 1;
}

nav ul li a:hover::after {
    transform: scaleX(1); 
    opacity: 1;
}

nav ul li.dropdown {
    position: relative; 
}

.dropdown_menu {
    display: none; 
    position: absolute; 
    top: 100%;
    left: 0;
    width: 130px; 
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 100; 
    border-radius: 5px; 
}
.dropdown_menu a {
    display: block; 
    padding: 12px 20px;
    color: black;
    font-size: 17px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; 
}

.dropdown_menu a:hover {
    background-color: red; 
    color: white; 
    border-radius: 5px; 
}

.dropdown:hover .dropdown_menu {
    display: block; 
}

/* Optional: Add a transition effect to the dropdown */
.dropdown_menu {
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

header nav ul li.dropdown:hover .dropdown_menu {
    display: block;
    opacity: 1; 
}

.pageHomeLecActive, .pageCertLecActive, .pageAdminPassActive, .pageAdminRegActive, .pageRegLecActive, .pageHomeStuActive, .pageCertStuActive, .pageRegStuActive, .pageAdminHomeActive, .pageProfileActive{
    color: #cf3434 ; 
    border-radius: 5px; 
    opacity: 1;
}


/* Background Header Section */
.header_image_home, .header_image_home_lec, .header_image_cert_lec, .header_image_reg_lec, .header_image_cert_stu, .header_image_reg_stu, .header_image_home_stu, .header_image_admin_main {
    height: 80vh; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
}

.header_image_home::before, .header_image_home_lec::before, .header_image_cert_lec::before, .header_image_reg_lec::before, .header_image_cert_stu::before, .header_image_reg_stu::before, .header_image_home_stu::before, .header_image_admin_main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

.header_image_home_lec{
    background-image: url('../image/lec_dashboard.jpg'); /* https://www.kenfil.com/ */
}

.header_image_reg_lec{
    background-image: url('../image/lec_reg.jpg');  /* https://www.wallpaperflare.com/man-holding-pen-while-trying-to-sign-a-document-settlement-wallpaper-zudwr/download/1920x1080 */
}

.header_image_cert_lec{
    background-image: url('../image/lec_cert.jpg'); /* https://www.freepik.com/free-photo/standard-quality-control-collage-concept_30589268.htm#page=4&query=software%20certification&position=0&from_view=keyword&track=ais_hybrid&uuid=52029cb3-b120-4a22-b36e-4cfbaa42236e */
}

.header_image_home_stu{
    background-image: url('../image/student_dashbaord_4.jpg'); /* https://www.securityweek.com/wp-content/uploads/2024/04/Threat-Intelligence-SOC.jpg */
}

.header_image_cert_stu{
    background-image: url('../image/stu_cert.png');/* https://www.itpro.com/professional-development/33357/2019s-highest-paying-it-certifications */
}

.header_image_reg_stu{
    background-image: url('../image/stu_reg.jpg');/* https://www.google.com/imgres?q=digital%20certification%20wallpaper&imgurl=https%3A%2F%2Fvida.id%2Fhubfs%2FScreen%2520Shot%25202023-07-24%2520at%252017.22.34.png&imgrefurl=https%3A%2F%2Fvida.id%2Fen%2Fblog%2Fhow-do-digital-signatures-work&docid=M0B_9JmsLAb4HM&tbnid=NKSEYItQYhNYhM&vet=12ahUKEwjToIivzJeJAxXxSWwGHVXgKdIQM3oECC0QAA..i&w=1544&h=978&hcb=2&ved=2ahUKEwjToIivzJeJAxXxSWwGHVXgKdIQM3oECC0QAA */
}

.header_image_admin_main{
    background-image: url('../image/main.jpg');/**/
}

.header_title {
    font-size: 70px;
    font-weight: bold;
    color: white; 
    text-align: center; 
    position: relative; 
    z-index: 1; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Lecturer Certification Overview main */

.lec_cert_overview_main{
    margin: 50px auto;
}

.lec_cert_overview_main table {
    width: 100%;
    margin: 20px auto;
}

.lec_cert_overview_main th, .lec_cert_overview_main td {
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}

.lec_cert_overview_main .btn-edit {
    color: white;
    background-color: #007bff;
}

.lec_cert_overview_main .btn-delete {
    color: white;
    background-color: #dc3545;
}

.lec_cert_overview_main .btn-edit:hover, .lec_cert_overview_main .btn-delete:hover{
    color: white;
    opacity: 0.8;
}

.lec_cert_overview_main .lec_cert_row:hover {
    background-color: #f2f2f2fa !important; /* Light gray on hover */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff; /* Change this color for odd rows */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff; /* Change this color for even rows */
}

.lec_cert_overview_main h1 {
    margin-bottom: 20px;
}

.lec_cert_overview_main p {
    margin-top: 20px;
}

.lec_cert_overview_main .btn-primary {
    background-color: #007bff;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    transition: background 0.3s ease;
    width: 15%;
    margin-right: 25px;
}

.lec_cert_overview_main .btn-primary:hover {
    opacity: 0.8;
}

/* Lecturer Certification Overview add */


.lec_overview_cert_add{
    margin: 50px auto;
}

.lec_overview_cert_add .form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.lec_overview_cert_add .error-message {
    color: red;
    font-size: 0.9rem;
}
.lec_overview_cert_add .success-message {
    color: green;
    font-size: 1rem;
}
.lec_overview_cert_add .form-group span.error {
    color: red;
}
.lec_overview_cert_add h1, .lec_overview_cert_add legend {
    text-align: center;
    margin-bottom: 20px;
}

/* Lecturer Overview Edit */
.lec_overview_cert_edit {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.lec_overview_cert_edit h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}
.lec_overview_cert_edit .form-group label {
    font-weight: bold;
}
.lec_overview_cert_edit .btn {
    width: 100%;
}
.lec_overview_cert_edit .message {
    margin-top: 20px;
    text-align: center;
}

/* Student Certification Overview Main */
.stu_overview_cert_main{
    margin: 50px 10px;
}

.stu_overview_cert_main h1 {
    text-align: center;
    margin: 20px 0;
    color: #dc3545; /* Bootstrap danger color (red) */
}

.stu_overview_cert_main table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff; /* White background for the table */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.stu_overview_cert_main th, .stu_overview_cert_main td {
    padding: 15px;
    text-align: left;
    border: 1px solid #dee2e6; /* Light gray border */
}
.stu_overview_cert_main th {
    background-color: #dc3545; /* Red background for headers */
    color: white; /* White text color for headers */
}
.stu_overview_cert_main tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray for even rows */
}
.stu_overview_cert_main tr:hover {
    background-color: #efebe9 !important; /* Light gray on hover */
}
.stu_overview_cert_main .btn{
    color: black; /* White text for button */
    text-decoration: none;
}
.stu_overview_cert_main .btn:hover {
    text-decoration: underline;
    color: red; /* Keep white text */
}


.stu_overview_cert_formfiller .success-message {
    padding: 20px;
    background-color: #dff0d8; /* Light green background */
    color: #3c763d; /* Dark green text */
    border: 1px solid #d6e9c6; /* Border color */
    border-radius: 5px;
    margin: 20px 0;
}


/* Student Certification Overview Detail */

.stu_overview_cert_view .table{
    background-color: white;
}

.stu_overview_cert_view .certification-details {
    margin-top: 20px;
}
.stu_overview_cert_view .table th {
    background-color: #f8f9fad6;
    font-size: 16pt;
    width: 20%;
}
.stu_overview_cert_view .table td{
    font-size: 14pt;
}

.stu_overview_cert_view .table .importantth{
    font-size: 20pt;
}


.stu_overview_cert_view .register-button {
    margin: 0 auto;
    width: 20%;
    display: block;  
}

.stu_overview_cert_view .table, .stu_overview_cert_view .table td, .stu_overview_cert_view .table th{
    border: 1px solid black;
}


/* Lecturer registration overview upload file features */

.email-cell {
    position: relative;
}

.short-email {
    display: inline-block;
}

.copy-button {
    display: inline-block; /* Always visible */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 8pt;
}


.lec_overview_reg_main .hover-text {
    display: inline-block;
    cursor: pointer;
}



/* Lecturer Registration Overview for filepath display inside modal table (upload) */

.filePathDisplay{
    width: 300px !important;
    margin-left: 10px;
}



/* Lecturer registration oveview upload button */
.certificateUploadButton, .examletterUploadButton, .receiptUploadButton, .invoiceUploadButton{
    cursor: pointer;
    margin: 20px auto;
    background-color: rgb(255, 0, 0) !important;

}

.certificateUploadButton:hover, .examletterUploadButton:hover, .receiptUploadButton:hover, .invoiceUploadButton:hover{
    background-color: rgba(144, 1, 1, 0.833) !important;
}





/* Lecturer Registration Overview */

.lec_overview_reg_main{
    width: 100%;
    margin: 50px auto;
}

.lec_overview_reg_main .welcome {
    padding: 20px;
    background-color: white; /* Black background */
    color: black; /* White text */
    margin: 0 auto;
    width: 30%;
    text-align: center;
}

.lec_overview_reg_main .filter {
    margin: 20px 0;
    text-align: left;
}

.filter .btn{
    width: 15%;
}

.lec_overview_reg_main .filter label {
    color: #000; /* Black text */
}

.lec_overview_reg_main .filter select, .lec_overview_reg_main .filter input[type="submit"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px;
}

#certificationTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#certificationTable th, #certificationTable td {
    padding: 15px;
    border: 1px solid #ccc; /* Light grey border */
    text-align: center;
}

#certificationTable thead {
    background-color: #dc3545; /* Black header */
    color: #fff; /* White text */
}


#certTable thead {
    background-color: #dc3545; /* Black header */
    color: #fff; /* White text */
}


#certificationTable th {
    font-weight: bold;
    text-align: center;
}

#certificationTable thead {
    background-color: #f2f2f2; /* Header background */
    position: sticky; /* Stick the header */
    top: 0; /* Position at the top */
    z-index: 10; /* Ensure it is above other content */
    padding: 10px; /* Padding for cells */
    border: 1px solid #ddd; /* Border for header cells */
}

#certificationTable tbody tr {
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

#certificationTable tbody tr:hover {
    background-color: #ebebebfa; /* Slightly darker light gray background */
}

#certificationTable tbody td:hover {
    background-color: rgba(255, 255, 255, 0.5); /* More pronounced hover color */
    color: #333; /* Darker text color for better readability */
}

#certificationTable tbody tr:hover td {
    border-bottom: 2px solid #ccc; /* Add a bottom border on hover */
}


.lec_overview_reg_main object {
    width: 100px; /* Adjust as necessary */
    height: 100px; /* Adjust as necessary */
    cursor: pointer; /* Pointer on hover */
}

.lec_overview_reg_main p {
    margin: 5px 0; /* Adjust paragraph spacing */
}

.lec_overview_reg_main input[type="submit"] {
    background-color: #c00; /* Red button */
    color: white; /* White text */
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer; /* Pointer on hover */
}

.lec_overview_reg_main input[type="submit"]:hover {
    background-color: #a00; /* Darker red on hover */
}

/* Notification */
.lec_overview_reg_main .notification {
    display: inline-block;
    width: 9px; /* Adjusted for a smaller, subtler look */
    height: 9px;
    background-color: #ff3b30; /* Red color for higher visibility */
    border-radius: 50%;
    position: relative;
    top: -2px;
    margin-left: 3px; /* Space between the button and dot */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Soft shadow for a pop effect */
    animation: pulse 10s infinite; /* Subtle pulse animation */
}

/* student form */
#customAlert {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    z-index: 1000; /* Sit on top */
    justify-content: center; /* Center the alert */
    align-items: center; /* Center the alert */
}

#alertMessage {
    background-color: white; /* White background for the alert box */
    padding: 20px;
    border-radius: 5px;
    text-align: center; /* Center text */
    position: relative; /* For the close button */
}

.student_form .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-weight: bold;
}

.student_form .form-section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.student_form h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.student_form label {
    font-weight: bold;
}
.student_form .signature-container {
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
}

.signature-container {
    border: 2px solid #007bff; /* Blue border */
    border-radius: 10px; /* Rounded corners */
    padding: 5px; /* Space between border and canvas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    background-color: #f8f9fa; /* Light background color */
    display: inline-block; /* Allow padding and shadow to be shown */
    cursor: crosshair; /* Change cursor to indicate drawing */
}

canvas {
    border-radius: 5px; /* Rounded corners for the canvas */
    cursor: crosshair; /* Change cursor for drawing */
    background-color: #ffffff; /* White background for the canvas */
}


/* Main Menu */

/* Main Menu (First Section) */
.main_menu_first_main {
    padding: 90px 20px;
    border-radius: 8px;
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding-bottom: 220px;
}

.main_menu_first_main h1 {
    font-size: 3.3rem; 
    margin-bottom: 15px;
}

.main_menu_first_main p {
    font-size: 25pt; 
    line-height: 1.6; 
    width: 80%;
    margin: auto;
    text-align: center;
}

.main_menu_first_main ul {
    text-align: left; 
    display: inline-block; 
    padding: 0;
    margin: 60px 0;
    font-weight: bold;
}

.main_menu_first_main ul li {
    font-size: 20pt;
    color: black; 
    margin-bottom: 10px;
}

.main_menu_first_main ul li::before {
    content: '✔'; 
    color: #696969;
    margin-right: 8px;
}


/* Main Menu (Second Section) */

.main_menu_second_main {
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative; 
    background-color: white;
    background: url('../image/home1.jpg') no-repeat center center/cover; 
    background-attachment: fixed; 
    height: 98vh;
    margin: auto;
}

.main_menu_second_main::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.main_menu_second_main > * {
    position: relative; 
    z-index: 2; 
}

.main_menu_second_main h1 {
    font-size: 3.3em;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
}

.main_menu_second_allcard{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 70px;
    padding: 80px;
    text-align: center;
    justify-items: center; 
    align-items: center; 
    max-width: 1500px; 
    width: 100%; 
    z-index: 2;
}

.main_menu_second_card {
    background-color: white;
    border: 3px solid #ccc;
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    text-align: center; 
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    padding: 15px;
    margin: 20px; 
    height: 50vh;
    width: 100%; 
}

.icon {
    background-color: #e0f7fa; 
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 15px;
    display: inline-block; 
}

.icon i {
    color: #00796b; 
    font-size: 40px; 
}

.main_menu_second_card h2 {
    font-size: 1.5em;
    margin: 10px 0; 
}

.main_menu_second_card p {
    margin: 10px 0 20px; 
}

.main_menu_second_card_button {
    background-color: #565656; 
    color: white; 
    padding: 10px 15px; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.main_menu_second_card_button:hover {
    background-color: #626262;
}

.main_menu_second_card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
}

/* Main Menu (Third Section) */
.main_menu_end_main {
    margin: 0 auto;
    padding: 20px; 
    text-align: center;
    background-color: white;
    padding-top: 220px;
    padding-bottom: 130px;
}

.main_menu_end_main h1{
    font-size: 3.3rem; /* Make the header larger */
}


.main_menu_end_main p{
    font-size: 18pt; /* Make the header larger */
}


.main_menu_end_main h3{
    font-size: 1.6em; /* Make the header larger */
}

.main_menu_end_allcolumn {
    display: flex; 
    justify-content: space-around; 
    margin: 0 auto; 
    margin-bottom: 70px;
    margin-top: 20px;
    width: 90%;
}

.main_menu_end_column {
    flex: 1; 
    max-width: 600px; 
    margin: 0 10px; 
}

.main_menu_end_column img {
    max-width: 100%; /* Make images responsive */
    height: 70vh; /* Maintain aspect ratio */
    margin-top: 30px;
}

/* Main Menu Profile Section */

.main_menu_profile_main {
    background-image: url('../image/profile.jpg');/* https://www.wallpaperflare.com/assorted-flowers-poppies-herbarium-freshness-food-food-and-drink-wallpaper-tgzd/download/1920x1080 */
    background-attachment: fixed; 
    height: 93vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    color: white; 
    position: relative; 
}
.main_menu_profile_main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.main_menu_profile_main h1 {
    z-index: 2;
    font-size: 2.5em;
    padding-bottom: 50px;
}

.updated_profile_button {
    z-index: 2;
    padding: 15px 30px;
    font-size: 1.5em;
    color: white;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.updated_profile_button:hover {
    background-color: #004d40;
}

.main_menu_learnmore_main {
    text-align: center;
    padding: 150px 0;
    background-color: white;
}

.main_menu_learnmore_main h4 {
    font-size: 2.2rem;
}

.main_menu_learnmore_button a {
    display: inline-block;
    padding: 7px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 100px;
    margin-left: 66px;
    margin-right: 15px;
    margin-top: 65px;
    font-size: 20pt;
}

.main_menu_learnmore_button a:hover {
    background-color: #414141;
}


/* My Profile */
.profile_main {
    max-width: 80%;
    margin: 200px auto;
    padding: 60px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 95vh;
}
.profile_top {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.profile_table_info{
    text-align: left;
    font-weight: bold;
}

.profile_top td{
    font-size: 15pt;
    color: black;
}
.profile_top th {
    color: #00796b;
    font-weight: bold;
    font-size: 2.8em;
    padding-bottom: 50px;
}

.profile_top_img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid #00796b;
    margin-right: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile_main p {
    margin: 10px 0;
    color: #bababa;
}
.profile_declaration {
    margin-top: 20px;
    padding: 60px 0;
    border-top: 1px solid #e0e0e0;
    text-align: center;
}
.profile_declaration p {
    font-size: 12pt;
    font-style: italic;
    color: #444;
}
.profile_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile_link a {
    text-align: center;
    background-color: #00796b;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    margin: 50px 9px;
    transition: background-color 0.2s, transform 0.2s;
    font-size: 14pt;
}

.profile_link a:hover {
    background-color: #004d40;
    transform: translateY(-4px);
    color: white;
    text-decoration: none;
}



/* Update User Profile */

.update_profile_main, .view_profile_main {
    max-width: 35%;
    margin: 50px auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.update_profile_img, .view_profile_img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.update_profile_main h2, .view_profile_main h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group label {
    font-weight: bold;
}

.btn-primary, .btn-secondary {
    width: 100%;
    margin-bottom: 10px;
}

.view_profile_main .btn-primary, .update_profile_main .btn-primary {
    background-color: rgb(220, 20, 60); /* Crimson red */
}

.view_profile_main .btn-primary:hover, .update_profile_main .btn-primary:hover {
    background-color: rgb(178, 34, 34); /* Firebrick red for hover */
}



.main_menu_second_card_button {
    background-color: #00796b;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.main_menu_second_card_button:hover {
    background-color: #004d40;
}




/* Footer styling */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 100px 0;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.593);;
    transition: transform 0.4s; 
    font-size: 13pt;
}


footer a:hover{
    text-decoration: underline;
    color: white;
}

/* Notification badge styling */
.notification-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #f44336; /* Red background for the notification bubble */
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    z-index: 10; /* Keeps the badge above the link */
    
    /* Text shadow effect */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* X, Y offset, blur radius, shadow color */
}


